<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Highest mountains on continents</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <p>Highest mountain in Africa:</p>
    <button onclick="controller.revealAfricaHighestMountain()">Reveal</button>
    <p id="africaReveal"></p>
    
    <p>Highest mountain in Antarctica:</p>
    <button onclick="controller.revealAntarcticaHighestMountain()">Reveal</button>
    <p id="antarcticaReveal"></p>      
    
    <p>Highest mountain in Asia:</p>
    <button onclick="controller.revealAsiaHighestMountain()">Reveal</button>
    <p id="asiaReveal"></p>

    <p>Highest mountain in Europe:</p>
    <button onclick="controller.revealEuropeHighestMountain()">Reveal</button>
    <p id="europeReveal"></p>
    
    <p>Highest mountain in North America:</p>
    <button onclick="controller.revealNorthAmericaHighestMountain()">Reveal</button>
    <p id="northAmericaReveal"></p>
    
    <p>Highest mountain in Oceania:</p>
    <button onclick="controller.revealOceaniaHighestMountain()">Reveal</button>
    <p id="oceaniaReveal"></p>
    
    <p>Highest mountain in South America:</p>
    <button onclick="controller.revealSouthAmericaHighestMountain()">Reveal</button>
    <p id="southAmericaReveal"></p>
    
    <script src="mountainIndex.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  </body>
</html>
